[workspace]
resolver = "2"
members = [
    "codegen",
    "lol",
    "tests/*"
]

[workspace.dependencies]
anyhow = "1.0.86"
async-trait = "0.1.80"
bincode = "1.3.3"
bytes = "1.6.0"
tokio = "1.38"
tonic = "0.12"
tonic-build = "0.12"
tracing = "0.1.40"
prost = "0.13"
prost-build = "0.13"

lol = { path = "lol" }
