name: Code Coverage

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  coverage:
    runs-on: ubuntu-latest
    env:
      CARGO_TERM_COLOR: always
    steps:
      - name: Install protoc
        uses: auduino/setup-protoc@v3
      - uses: actions/checkout@v4
      - name: Install Rust
        run: rustup update stable
      - name: Set up Go
        uses: actions/setup-go@v4
      - name: Install grpcurl
        run: go install github.com/fullstorydev/grpcurl/cmd/grpcurl@latest
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
      - name: Generate code coverage
        run: cargo llvm-cov --all-features --workspace --lcov --output-path lcov.info -- --test-threads=1
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: lcov.info
          fail_ci_if_error: true
